#task-create-container {
    margin-top: 7.5%;
    padding: 10px;
}

#task-create-container h2 {
    text-align: center;
}

#task-create-container .form-group label {
    font-size: 1.3em;
}

#task-create-container #button-create {
    font-size: 1.2em;
}