.list-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-cards .card {
    width: 175px;
    height: 250px;
    margin: 10px;
}

.list-cards .card-header {
    font-weight: bold;
    text-align: center;
    background-color: #00ADB5;
    color: white;
}

.list-cards h6 {
    font-size: 0.8em;
}

.list-cards .card-buttons {
    margin-bottom: 0;
}

.text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.card #btn-modal-show {
    border: none;
    background-color: transparent;
    color: white;
}

.card #btn-modal-show:hover {
}


#btn-modal-create {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-modal-create .icon {
    width: 40px;
    height: 40px;
}

.card {
    border: 1px solid #00ADB5 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card .card-body {
    color: #0f3346;
}

.card #btn-modal-edit, .card #btn-modal-delete {
    width: 65px;
    height: 40px;
    color: white;
    border: none;
    background-color: #00ADB5;
}

.card #btn-modal-edit:hover, .card #btn-modal-delete:hover {
    background-color: #007d96;
}

