.list-cards {
    border: 1px solid blue;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.list-cards .card {
    width: 175px;
    height: 250px;
    margin: 10px;
}

.list-cards .card-header {
    font-weight: bold;
    text-align: center;
}

.list-cards h6 {
    font-size: 0.8em;
}

.list-cards .card-buttons {
    margin-bottom: 0;
}

.text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.card .card-header button {
    border: none;
    background-color: #F8F8F8;
}


#button-create-modal {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-create-modal .icon {
    width: 40px;
    height: 40px;
}