* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8 !important;
}

.itens-nav .item-nav {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

main {
    height: 100vh;
}

.msg {
    border: 1px solid #95dde1 !important;
    border-radius: 0 !important;
}

nav {
    background-color: #00ADB5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav .nav-link {
    color: white;
}

nav .nav-link:hover {
    color: #0f3346;
}

nav .navbar-toggler {
    color: white !important;
}

main #btn-modal-create {
    background-color: #00ADB5;
    border: 1px solid #F8F8F8;
}

main #btn-modal-create:hover {
    background-color: #007d96;
}