* {
    margin: 0;
    padding: 0;
}

.itens-nav .item-nav {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

main {
    height: 100vh;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}