.show-modal, .create-modal, .edit-modal {
    color: #0f3346;
    border: #007D96;
}

.modal .modal-header {
    color: white;
    background-color: #00ADB5;
}

.modal .modal-header .mbtn-close {
    color: white;
}

.modal .close-btn, .modal .save-btn {
    margin: 0;
    background-color: #00ADB5;
    border: none;
    width: 47%;
    padding: 15px 0;
    line-height: 1em;
    margin: 5px 0;
}

.modal .close-btn:hover, .modal .save-btn:hover {
    background-color: #007D96;
}

.modal .modal-footer {
    padding: 18px 0 0 0;
    display: flex;
    justify-content: space-between;
    
}